.main-container {
  position: absolute;
  top: 10px;
  left: 10px;
  height: 500px;
  width: 600px;
  background-color: black;
  display: grid;
  margin: 5px;
  grid-template-columns: 60% 40%;
  grid-template-rows: 100px auto;
}
.game {
  background-color: black;
  grid-column: 1 / 3;
  grid-row: 2;
  height: 400px;
  width: 600px;
  display: grid;
}
.score {
  background-color: blue;
  grid-column: 2;
  grid-row: 1;
  font-size: 60px;
  color: white;
  font-family: Notable;
  text-align: center;
}
.header {
  background-color: blue;
  grid-column: 1;
  grid-row: 1;
  font-size: 60px;
  text-align: center;
  font-family: Notable;
  color: yellow;
}

.game.startMenu {
  background-color: black;
  grid-column: 1 / 3;
  grid-row: 2;
  height: 400px;
  width: 600px;
  display: grid;
  grid-template-columns: 40% 20% 40%;
  grid-template-rows: 45% 10% 45%;
}
.game .startButton.startMenu {
  grid-column: 2;
  grid-row: 2;
  background-color: black;
  text-align: center;
  font-family: Notable;
  color: yellow;
  cursor: pointer;
}

.game.loadGame {
  background-color: black;
  grid-column: 1 / 3;
  grid-row: 2;
  height: 400px;
  width: 600px;
  display: grid;
  grid-template-columns: none;
  grid-template-rows: none;
}

.game.loadGame {
  background-color: black;
  grid-column: 1 / 3;
  grid-row: 2;
  height: 400px;
  width: 600px;
  display: grid;
  grid-template-columns: repeat(30, 20px);
  grid-template-rows: repeat(20, 20px);
}

img {
  max-width: 100%;
  height: auto;
}
